{% extends '_layout.twig' %}
{% block body %}
    <div class="main-container flex-center">
        <a class="main-container__btn flex-center" href="{{ path('game-play-random') }}">Play with random player</a>
        <a class="main-container__btn flex-center">Play by password</a>
        <a class="main-container__btn flex-center">List of current games</a>
    </div>
{% endblock %}
